.glare-hover {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1); /* combine both */
  padding: 20px;
  width: 350px;
  background: #00ff41;
  border-radius: 5px;
  border: 3px solid #007a1f;
  overflow: hidden;
  display: grid;
  place-items: center;
  transition: transform 0.2s ease-in-out;
}

.glare-hover.collapsed {
  transform: translate(-50%, -50%) scaleX(0);
}



.glare-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--gh-angle),
      hsla(0, 0%, 0%, 0) 60%,
      var(--gh-rgba) 70%,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0) 100%);
  transition: var(--gh-duration) ease;
  background-size: var(--gh-size) var(--gh-size), 100% 100%;
  background-repeat: no-repeat;
  background-position: -100% -100%, 0 0;
}

.glare-hover:hover {
  cursor: pointer;
}

.glare-hover:hover::before {
  background-position: 100% 100%, 0 0;
}

.glare-hover--play-once::before {
  transition: none;
}

