:root{
    --bg-color: #0E0E0E;
    --white-color: #FFFFFF;
    --gray-color: #5C5C5C;
    --Paragraph-font-size: 18px;
    --Heading-font-size: 40px;
    --Semi-Heading-font-size: 32px;
    --Border-radius: 12px;
    /* Font-Family */
    --font-primary: "Dm mono", monospace;
    --font-secondary: "futuristic_armour", Verdana, Geneva, Tahoma, sans-serif;
    --font-bold: "Switzer", sans-serif;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body, html{
    background: var(--bg-color);
}