*{
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: black;
    overflow-x: hidden;
}

.card-Container-main{
    display: flex;
    margin-top: 30.51vh;
    justify-content: space-between;
}
@media only screen and (max-width: 900px) {
    .card-Container-main{
        margin-top: 90.51vh;
        justify-content: center;
        padding: 20px;
    }
}
@media only screen and (max-width: 450px){
    .card-Container-main{
        flex-direction: column;
        gap: 2rem;
    }
}
