@font-face {
  font-family: "Switzer";
  src: url("/Fonts/Switzer/Switzer-Black.otf") format("opentype");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/Fonts/Switzer/Switzer-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "futuristic_armour";
  src: url("/Fonts/futuristic_armour/futuristic_armour-Bold.otf") format("opentype");
  font-style: normal;
}


